body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px;
}
.file-select {
  width: 200px;
  height: 50px;
  position: relative;
}
.overlapped {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  background: #ccc;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  pointer-events: none;
}
.input-select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
}
.foto-block {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}
.image-block {
  position: relative;
  width: 30%;
}
.image {
  width: 100%;
}
.icon {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 0.9rem;
  color: white;
  padding: 5px;
  cursor: pointer;
}
